<h1><%= @status %></h1>

<ul id="records-list">
    <% @records.each do |record| %>
        <%= render partial: "record", locals: {record: record} %>
    <% end %>
</ul>

<button type="button" id="clock-in-button">Clock In</button>

<%= form_with url: clock_in_records_path, method: :post, data: {turbo_frame: "_top" }, id: "clock-in-form" do%>
<%= submit_tag "Clock In", style: "display: none;" %>
<% end %>

<%= turbo_stream_from "records" %>